* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../image/background.jpg) no-repeat;
    background-size: cover;
    backdrop-filter: blur(3px);
}

#logo {
    position: absolute;
    left: 0.5rem;
    top: 0.3rem;
    text-shadow: 1px 1px white;
}

#container {
    margin-top: 1.2rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    background-color: #FFF;
    padding: 2rem 5.5rem 4rem 5.5rem;
    margin: 2rem 0rem 8rem 0rem;
}

h1 {
    font-size: 2.5rem;
}

.informationBox {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.mainContent {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    font-size: 1.2rem;
    display: flex;
}

.Button {
    width: 27rem;
    height: 3.5rem;
    color: #FFF;
    text-align: center;
    font-size: 1rem;
    border: none;
    background-color: #4285F4;
    border-radius: 10px;
}

.Button:hover {
    filter: brightness(90%);
}

.fillbox {
    width: 27rem;
    height: 3.5625rem;
    border-radius: 0.2rem;
    border: 1px solid #4285F4;
    background: #FFF;
    font-size: 1.2rem;
}

.fillbox:hover {
    border: 1px solid rgb(0, 255, 0);
}

.External {
    display: flex;
    align-items: center;
    gap: 1rem;
    height: 100%;
    margin-left: 1rem;
    text-decoration: none;
    font-size: 1.2rem;
    color: #4285F4;
}

.box {
    width: 27rem;
    height: 3.5rem;
    color: #FFF;
    text-align: center;
    font-size: 1rem;
    border: none;
    border-radius: 10px;
    background-color: #f6f9ff;
    box-shadow: 1px 1px 3px 0px rgba(90, 90, 90, 0.527);
}

.box:hover {
    filter: brightness(95%);
}

input {
    padding: 0rem 1rem;
    outline: none;
}

#warning {
    color: red;
}